@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Variables */
:root {
  /* Colors */
  /* Primary Colors */
  --green: hsla(164, 42%, 14%, 1);
  --light-green: hsla(178, 87%, 21%, 1);
  --lighter-green: hsla(164, 32%, 36%, 1);

  /* Neutral Colors */
  --white: hsla(0, 0%, 100%, 1);
  --blur-white: hsla(0, 0%, 96%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --head-black: hsla(76, 20%, 11%, 1);
  --dark-ash: hsla(0, 0%, 38%, 1);
  --ash: hsla(0, 0%, 46%, 1);
  --light-ash: hsla(0, 0%, 50%, 1);
  --grey: hsla(74, 7%, 37%, 1);
  --footer-ash: hsla(210, 6%, 60%, 1);


  /* Font Families */
  --grotesk: "Hanken Grotesk", sans-serif;
  --inter: "Inter", sans-serif;
  --jost: "Jost", sans-serif;
  --manrope: "Manrope", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--white);
  color: var(--black);
}

h2 {
  font-size: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

input:focus, textarea:focus, select:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 90%;
  margin-inline: auto;
}

/* Desktop Styles */
/* Header Styles*/
/* Top Header */
header .topHeader {
  background-color: var(--blur-white);
  width: 100%;
  font-family: var(--poppins);
  padding-block: .5rem;
  font-size: 14px;
}

header .topHeader > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .topHeader > .container ul {
  display: flex;
  gap: .8rem;
}

/* Mid Header */
header .midHeader {
  width: 100%;
  font-family: var(--poppins);
  background-color: var(da);
  padding-block: .5rem;
}

header .midHeader > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .midHeader > .container .contactSection {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.midHeader > .container .contactSection .contactContainer {
  display: flex;
  gap: 0.5rem;
}

.contactSection .contactContainer .contactInfo p {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.3rem;
}

.contactSection .contactContainer .contactInfo p.lighText {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-ash);
}

header .midHeader > .container .searchContainer {
  position: relative;
  width: 25%;
}

header .midHeader > .container .searchContainer input {
  padding-inline: 1.5rem;
  border-radius: 20px;
  padding-block: .7rem;
  font-family: var(--poppins);
  width: 100%;
  border: 1px solid transparent;
}

header .midHeader > .container .searchContainer img {
  position: absolute;
  top: 24%;
  right: 10px;
}

/* Navbar */
header nav.nav {
  width: 100%;
  background-color: var(--green);
  color: var(--white);
  font-family: var(--poppins);
  font-weight: 400;
}

header nav.nav > .container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

header nav.nav > .container .navContainer {
  display: flex;
  justify-content: space-between;
  width: 72%;
}

header nav.nav > .container .navContainer ul.navbar {
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
  align-self: center;
  margin-block: .5rem;
}

header nav.nav > .container .navContainer ul.navbar a.active {
  font-weight: 600;
}

header nav.nav > .container .navContainer button {
  background-color: var(--light-green);
  border: none;
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  padding: 1rem;
  font-size: 16px;
}

/* Main Styles */
/* Home Section */
main section#home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./assets/images/landing-page-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: var(--grotesk);
  font-weight: 600;
}

main section#home .sectionHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58%;
  margin-inline: auto;
  height: 100%;
  align-items: center;
  text-align: center;
}

main section#home .sectionHead h1 {
  font-size: 60px;
}

main section#home .sectionHead p.h2 {
  font-size: 47px;
}

main section#home .sectionHead p.h3 {
  margin-block-start: 2rem;
  font-size: 30px;
  color: var(--blur-white);
}

main section#home button {
  border: none;
  position: absolute;
  top: 94%;
  left: 45%;
  background-color: var(--grey);
  font-family: inherit;
  font-size: 25px;
  font-weight: 600;
  color: var(--white);
  padding: .5rem 1.5rem;
}

/* About us Section */
main section#aboutUs {
  width: 80%;
  margin-inline: auto;
  margin-block: 2rem;
  color: var(--black);
  font-family: var(--grotesk);
  font-weight: 600;
}

main section#aboutUs h2 {
  margin-block: 3rem;
}

main section#aboutUs .aboutBox {
 display: flex;
 gap: 2rem;
 align-items: center;
 margin-block: 6rem;
}

main section#aboutUs .aboutBox:last-child {
  flex-direction: row-reverse;
}

main section#aboutUs .aboutBox .aboutDetails h3 {
  font-size: 50px;
}

main section#aboutUs .aboutBox .aboutDetails p {
  font-size: 25px;
}

/* Our Services Section */
main section#services {
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem;
  font-family: var(--grotesk);
  font-weight: 600;
  text-align: center;
}

main section#services h2 {
  margin-block: 2rem;
}

main section#services > p {
  font-size: 26px;
  font-weight: 400;
  color: var(--ash);
}

main section#services .serviceInfoContainer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-inline: auto;
  margin-block: 4rem;
}

main section#services .serviceInfoContainer .serviceInfoBox {
  width: 35%;
  margin-block: 1rem;
}

main section#services .serviceInfoContainer .serviceInfoBox h3 {
  font-family: var(--inter);
  font-weight: 600;
  font-size: 28px;
  margin-block: .5rem;
}

main section#services .serviceInfoContainer .serviceInfoBox p {
  margin-block: 1rem;
  color: var(--dark-ash);
  font-size: 20px;
  font-weight: 500;
  font-family: var(--manrope);
}

main section#services > h3 {
  width: 79%;
  margin-inline: auto;
  font-weight: 600;
  font-size: 78px;
  color: var(--lighter-green);
}

main section#services .serviceGuide {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 4rem;
}

main section#services .serviceGuide .stepCircles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 50%;
  border: 5px solid var(--lighter-green);
  padding: 15.9386rem 7rem;
}

main section#services .serviceGuide .stepCircles:nth-child(1) {
  border-right: transparent;
  border-bottom: transparent;
}

main section#services .serviceGuide .stepCircles:nth-child(2) {
  border-left: transparent;
  border-top: transparent;
}

main section#services .serviceGuide .stepCircles:nth-child(3) {
  border-right: transparent;
  border-bottom: transparent;
}

main section#services .serviceGuide .stepCircles:nth-child(4) {
  border-left: transparent;
  border-top: transparent;
}

main section#services .serviceGuide .stepCircles h4 {
  background-color: var(--lighter-green);
  border-radius: 50%;
  color: var(--white);
  padding: 1.45rem 2.381rem;
  font-size: 2.5rem;
}

main section#services .serviceGuide .stepCircles p {
  font-size: 26px;
  margin-block: 1rem;
  line-height: 25px;
}

main section#services .cta {
  width: 100%;
  border-radius: 16px;
  padding: 3rem;
  text-align: unset;
  background-color: var(--green);
  margin-block: 8rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

main section#services .cta > img {
  border-radius: 20px;
}

main section#services .cta .hireWrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-inline-end: 1rem;
  color: var(--white);
  width: 60%;
}

main section#services .cta .hireWrap h3 {
  font-family: var(--manrope);
  font-weight: 700;
  font-size: 64px;
}

main section#services .cta .hireWrap p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 20px;
  margin-block: 1rem;
}

main section#services .cta .hireWrap .signupContainer {
  display: flex;
  position: relative;
  width: 70%;
  margin-block: 1rem;
  gap: 1rem;
}

main section#services .cta .hireWrap .signupContainer input {
  border-radius: 10px;
  border: none;
  width: 100%;
  padding-inline-start: 3rem;
  padding-block: .8rem;
  font-size: 20px;
  font-family: var(--inter);
  font-weight: 500;
  color: hsla(0, 0%, 74%, 1);
}

main section#services .cta .hireWrap .signupContainer img {
  position: absolute;
  left: 10px;
  top: 16%;
}

main section#services .cta .hireWrap .signupContainer button {
  border: none;
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
  padding-inline: 1.5rem;
  font-family: var(--inter);
  font-weight: 500;
  font-size: 20px;
}